<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>
    Resolve
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- CSS Files -->
  <link href="/assets/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo.css" rel="stylesheet" />
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <div class="logo"><a href="/" class="simple-text logo-normal">
          Resolve
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link " href="/">
              <i class="material-icons">home</i>
              <p>Dasboard</p>
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/project">
              <i class="material-icons">work</i>
              <p>Project</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i class="material-icons">account_circle</i>
              <p>Profile</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="material-icons">login</i>
              <p>logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </nav>

       <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col offset-1 col-md-10">
              <div class="card card-profile">
                <div class="card-avatar">
                  
                    <img class="img" src="" />
       
                </div>
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Your Project</h4>
                      </div>
                      <div class="card-body table-responsive">
                        <table class="table table-hover">
                          <thead class="text-warning">
                            <th>
                                Id
                              </th>
                            <th>
                              Name
                            </th>
                            <th>
                              Description
                            </th>
                            <th>
                                Role
                              </th>
                          </thead>
                          <tbody>
                              <% data.forEach((value,index) => { %>
                                <tr onClick="location.href='http://localhost:4000/project/<%= value.id %> '">
                                    <td>
                                        <%= index+1 %> 
                                      </td>
                                    <td>
                                      <%= value.name %> 
                                    </td>
                                    <td>
                                    <%= value.description %> 
                                    </td>
                                    <td>
                                        <%= role[index].role %>  
                                        </td>
                                  </tr>
                                </a>
                              
                             <% }) %> 
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><a style="font-size:large;" href="#create-project">
                                  <button type="button" style="padding:0" rel="tooltip" title="Create project" class="btn btn-success btn-link btn-sm">   
                                    <i class="material-icons">add</i>
                                   </button>
                                </a></td>
                              </tr>
                          </tbody>
                        </table>
                        <div id="create-project" class="create-project overlay">
                          <div class="create-project-body">
                            <a class="create-project-close" href="#">
                              <button type="button" style="padding:0" rel="tooltip" title="Close" class="btn btn-danger btn-link btn-sm">   
                                <i class="material-icons">close</i>
                               </button>
                            </a>
                            <form action="/project" method="POST">
                              <label for="projectName">Project name</label>
                              <input style="height: 25px;font-size:14px" type="text" name="projectName" id="projectName">
                              <label for="description">Description</label>
                              <textarea name="description" id="description" style="font-size: 14px;" cols="20" rows="5"></textarea>
                              <input type="submit" class="btn btn-primary btn-round" style="width:100px" name="submit" value="Create">
                            </form>
                          </div>
                         
                        </div>
                      </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <%- include('footer'); -%> 