<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>
    Resolve
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- CSS Files -->
  <link href="/assets/material-dashboard.css?v=2.1.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo.css" rel="stylesheet" />
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <div class="logo"><a href="/" class="simple-text logo-normal">
          Resolve
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link " href="/">
              <i class="material-icons">home</i>
              <p>Dasboard</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/wiki/<%= data.projectId %>/document">
              <i class="material-icons">menu_book</i>
              <p>Enginer wiki</p>
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/sprint/<%= data.projectId %> ">
              <i class="material-icons">trending_up</i>
              <p>Sprint</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/project">
              <i class="material-icons">login</i>
              <p>back</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </nav>

       <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                  <div class="card-header card-header-success">
                    <h4 class="card-title mt-0">Active sprints</h4>
                    <% if(data.currentSprint.name === "Empty"){ %>
                      <p class="card-category"><%= data.currentSprint.description %></p>
                      <% } %> 
                    </div>
                    
                  <div  class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover">
                      
                        <thead class="">
                          <th>
                            ID
                          </th>
                          <th>
                            Name
                          </th>
                          <th>
                            Start
                          </th>
                          <th>
                            End
                          </th>
                         
                          <% if(data.permission && data.currentSprint.name != "Empty"){ %> 
                            <th>
                            
                            </th>
                          <% } %> 
                        </thead>
                        <% if(data.currentSprint.name != "Empty"){ %>
                        <tbody>
                        
                            <tr onClick="location.href='http://localhost:4000/task/<%= data.projectId %>/<%= data.currentSprint.id %> '">
                                <td>
                                  1
                                </td>
                                <td>
                                  <%= data.currentSprint.name %> 
                                </td>
                                <td>
                                  <%= data.currentSprint.start %>
                                </td>
                                <td>
                                  <%= data.currentSprint.end %>
                                </td>

                                <% if(data.permission){ %> 
                                  <td>
                                    
                               
                                    <a type="button" href="/sprint/<%= data.projectId %>/complete/">
                                      <button type="button" style="padding:0" rel="tooltip" title="Complete" class="btn btn-success btn-link btn-sm">   
                                        <i class="material-icons">done_all</i>
                                       </button> </a>
                                </td>
                                <% } %> 
                                  
                                
                              </tr>
                       
                        </tbody>
                        <% }else{ %>
                          <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                              </tr>
                        </tbody>
                        <% } %> 
                      </table>
                  </div>






        
                    <div class="card-header card-header-primary">
                      <h4 class="card-title mt-0" style="color: aliceblue;">Sprints</h4>
                      <p class="card-category" style="color: aliceblue;">
                        Only active a sprint at a time, can not active sprint that expired</p>
                    </div>
                    <div  class="card-body">
                  <div class="table-responsive"  style="max-height: 300px;">
                    <table class="table table-hover">
                      <thead class="">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Start
                        </th>
                        <th>
                          End
                        </th>
                       
                        <% if(data.permission){ %> 
                          <th>
                          
                          </th>
                          <th>
                          
                        </th>

                        <% } %> 
                      </thead>
                      <tbody>
                         <% data.sprints.forEach((value, index, array) => { %>
                          <tr onClick="location.href='http://localhost:4000/task/<%= data.projectId %>/<%= value.id %> '">
                              <td>
                                <%= index+1 %> 
                              </td>
                              <td>
                                <%= value.name %> 
                              </td>
                              <td>
                                <%= value.start %>
                              </td>
                              <td>
                                <%= value.end %>
                              </td>

                              <% if(data.permission){ %> 
                                <td>
                                  <a href="/sprint/<%= data.projectId %>/active/<%= value.id %>"> 
                                    <button type="button" rel="tooltip" title="Active" class="btn btn-success btn-link btn-sm"
                                    style="padding:0">
                                      <i  class="material-icons" style="max-width: 10px;">done</i>
                                    </button> </a> 
                              </td>
                              <td>
                             
                                  <a href="/sprint/<%= data.projectId %>/delete/<%= value.id %>"> 
                                    <button type="button" style="padding:0" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">   
                                     <i class="material-icons">close</i>
                                    </button> </a>
                              </td>
                              <% } %> 
                            </tr>
                        <% }) %>
               


                        <% if(data.permission){ %> 
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><a  href="#create-project">
                            <button type="button" style="padding:0" rel="tooltip" title="Add" class="btn btn-info btn-link btn-sm">   
                              <i class="material-icons">add</i>
                             </button> </a>
                          </a></td>
                        </tr>
                        <% } %> 


                        
                      </tbody>
                
                    </table>
                    <% if(data.permission){ %> 
                    <div id="create-project" class="create-project overlay">
                      <div class="create-project-body">
                        <a class="create-project-close" href="#">&times;</a>
                       
                          <div class="row">
                              <div class="col-md-6">
                                  <label for="name">Name</label>
                                  <input  type="text" id="name" name="name"  class="form-control" >
                                
                              </div>
                              <div class="col-md-3">
                                <label for="start">Start</label>
                                <input  type="date" id="start" name="start"  class="form-control" >
                                
                            </div>
                            <div class="col-md-3">
                              <label for="end">End</label>
                              <input  type="date" id="end" name="end" class="form-control" >
                              
                          </div>
                          <div class="col-md-12">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" style="font-size: 14px; border:0" cols="20" rows="5"></textarea>
                            <hr>
                            
                        </div>
                              <form action="/sprint/<%= data.projectId %>/create" method="POST">
                                  <input id="sprintName" name="sprintName"  type="hidden">
                                  <input id="sprintStart" name="sprintStart"  type="hidden">
                                  <input id="sprintEnd" name="sprintEnd"  type="hidden">
                                  <input id="sprintDescription" name="sprintDescription"  type="hidden">
                                  <input class="btn btn-primary btn-round" onclick="createSprint()" style="height: 30px;width:100px; padding:2px; bottom:5px;right:6px;position: absolute;" id="submit"  name="submit" type="submit" value="Create">
                              </form>
                          </div>                          
                       
                      </div>
                  </div>
                  <% } %> 
                
                
                </div>
                </div>
            
           



                </div>
              </div>
          </div>
        </div>
      </div>
      
      <%- include('footer'); -%> 